BR2_x86_i686=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.9.11"
BR2_DEFCONFIG="$(CONFIG_DIR)/defconfig"
BR2_HOST_DIR="/opt/uclibc-toolchain"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/toolchain/package.sh"
# BR2_TARGET_ROOTFS_TAR is not set
